<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>个人资料</title>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/style_4_common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/style_4_home_spacecp.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/base.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/home.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/register-guide-v7.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/page_upgrade-all-min.css">

    <script>jQuery.noConflict();</script>
    <script src="__PUBLIC__/home/js/base.js" type="text/javascript"></script>
    <script src="__PUBLIC__/home/js/area.js" type="text/javascript"></script>
    <script src="__PUBLIC__/home/js/jquery.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/layer/layer.js" type="text/javascript"></script>
    <script>
        function ziliao(obj){
            var ziliao = document.getElementById('ziliao');
            var jiaoyu = document.getElementById('jiaoyu');
            ziliao.style.display = 'block';
            jiaoyu.style.display = 'none';
            obj.parentNode.className = 'a';
            obj.parentNode.nextSibling.nextSibling.className = '';
        }
        function jiaoyu(obj){
            var ziliao = document.getElementById('ziliao');
            var jiaoyu = document.getElementById('jiaoyu');
            ziliao.style.display = 'none';
            jiaoyu.style.display = 'block';
            obj.parentNode.className = 'a';
            obj.parentNode.previousSibling.previousSibling.className = '';
        }
    </script>
    <script type="text/javascript" charset="UTF-8" src="__PUBLIC__/home/js/ajax.js"></script>
    <script type="text/javascript" async="" src="__PUBLIC__/home/js/scrollbar.js" data-module="ui/scrollbar"></script>
</head>

<body class="nx-main980">
<div id="fixedLayer" style="width: 1349px;"></div>

<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<!--<div id="nxContainer" class="nx-container">-->
<div id="nxContainer" class="nx-container nx-webpager-fold nx-freeViewport">

    <div class="nx-main">

        <div id="nxHeader" class="hd-wraper ">
            <div class="hd-fixed-wraper cl" style="width: 1349px;">
                <div class="hd-main">
                    <h1 class="hd-logo"><a href="#" title=""><img src="__PUBLIC__/home/resources/logo_new.png"></a></h1>
                    <div class="hd-nav cl" style="opacity: 1; display: block;">
                        <!--搜索start-->
                        <div class="hd-search">
                            <form id="scbar_form" method="post" autocomplete="off" onsubmit="" action="" target="_blank">
                                <input type="text" name="srchtxt" class="hd-search-input" autocomplete="off" placeholder="请输入搜索内容">
                                <button type="submit" name="searchsubmit" id="scbar_btn" sc="1" class="hd-search-btn" value="true"></button>
                            </form>
                        </div>
                        <!--搜索end-->
                        <!--头像，用户名，登录天数start-->
                        <dl class="hd-account cl">
                            <dt>
                                <a href="{{:U('Homepage/index')}}"><img src="__PUBLIC__/admin/images/{{$info.head_image}}" class="hd-avatar" width="30" height="30" alt="{{$info.name}}"></a>
                            </dt>
                            <dd><a href="#" title="" class="hd-name">{{$info.name}}</a>
                                <a href="#" target="_blank" class="hd-logindays">{{$date}}天</a>
                            </dd>
                        </dl>
                        <!--头像，用户名，登录天数end-->
                        <!--设置 start-->
                        <div class="hd-account-action">
                            <a href="#" class="account-more"><span class="ui-icon ui-icon-setting"></span></a>
                            <div class="nx-drop-box nx-simple-drop nx-account-drop">
                                <ul class="nv-account-ctrl cl">
                                    <li class="nv-drop-privacy "><a href="">修改头像</a></li>
                                    <li class="nv-drop-setting"><a href="">个人设置</a></li>
                                    <li class="nv-drop-pay"><a href="">隐私筛选</a></li>
                                    <li class="nv-account-sline"></li>
                                    <li class="nv-drop-guide"><a href="">密码安全</a></li>
                                    <li class="nv-drop-exit"><a href="{{:U('Login/logout')}}">退出</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--设置 end-->
                        <!--消息start-->
                        <div class="hd-account-action hd-account-action-vip">
                            <a href="" class="account-more"><span><img src="__PUBLIC__/home/resources/u_pm.png"></span></a>
                            <div class="nx-drop-box nx-simple-drop nx-account-drop">
                                <ul class="nv-account-ctrl cl">
                                    <li class="nv-drop-skin"><a href="#" target="_blank"><span class="grid_list_num"></span>消息</a></li>
                                    <li class="nv-drop-skin"><a href="#" target="_blank">提醒<span class="grid_list_num"></span></a></li>
                                    <li class="nv-drop-skin"><a href="#">新听众</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--消息end-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bd-container ">
        <div class="frame-nav-wrap">
            <div id="frameFixedNav" class="frame-nav-fixed-wraper" style="width: 1349px; top: 50px;">
                <div class="frame-nav-inner">
                    <ul class="fd-nav-list clearfix">
                        <li class="fd-nav-item"><a href="#">修改头像</a></li>
                        <li class="fd-nav-item fd-nav-cur-item"><a href="#">个人资料</a></li>
                        <li class="fd-nav-item"><a href="#">积分</a></li>
                        <li class="fd-nav-item"><a href="#">用户组</a></li>
                        <li class="fd-nav-item"><a href="#">隐私筛选</a></li>
                        <li class="fd-nav-item"><a href="{{:U('Password/index')}}">密码安全</a></li>
                        <li class="fd-nav-item"><a href="#">VIP购买</a></li>
                        <li class="fd-nav-item"><a href="{{:U('Album/index')}}">我的相册</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="pt" class="bm cl"></div>
        <div id="ct" class="ct2_a wp cl">
            <ul class="tb cl">
                <li class="a"><a href="javascript:void(0)" onclick="ziliao(this)">基本资料</a></li>
                <li><a href="javascript:void(0)" onclick="jiaoyu(this)">教育情况</a></li>
                <li><a href="#">联系方式</a></li>
                <li><a href="#">工作情况</a></li>
                <li><a href="#">个人信息</a></li>
                <li><a href="#">更改用户名</a></li>
            </ul>
            <div class="mn">

                <!--个人资料start-->
                <div id="ziliao" class="bm bw0">
                    <iframe id="frame_profile" name="frame_profile" style="display: none" src=""></iframe>
                    <!--表单内容start-->
                    <form action="" method="post" enctype="multipart/form-data" autocomplete="off" target="frame_profile" onsubmit="clearErrorInfo();">
                        <input type="hidden" value="{{$info.id}}" name="id">
                        <table cellspacing="0" cellpadding="0" class="tfm" id="profilelist">
                            <tbody>
                            <tr>
                                <th>用户名</th>
                                <td>{{$info.name}}</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr id="tr_realname">
                                <th id="th_realname">真实姓名</th>
                                <td id="td_realname">
                                    <input type="text" name="realname" id="realname" class="px" value="" tabindex="1">
                                    <div class="rq mtn" id="showerror_realname"></div>
                                    <p class="d"></p>
                                </td>
                                <td class="p"></td>
                            </tr>
                            <tr id="tr_gender">
                                <th id="th_gender"><span class="rq" title="必填">*</span>性别</th>
                                <td id="td_gender">
                                    <select name="gender" id="gender" class="ps" tabindex="1">
                                        <option value="0" <if condition="$info.sex eq 0">selected="selected"</if>>男</option>
                                        <option value="1" <if condition="$info.sex eq 1">selected="selected"</if>>女</option>
                                    </select>
                                    <div class="rq mtn" id="showerror_gender"></div>
                                    <p class="d"></p></td>
                                <td class="p"></td>
                            </tr>
                            <!--年月日start-->
                            <tr id="tr_birthday">
                                <th id="th_birthday"><span class="rq" title="必填">*</span>生日</th>
                                <td id="td_birthday">
                                    <!--年-->
                                    <select name="birthyear" id="birthyear" class="ps" onchange="showbirthday();" tabindex="1">
                                        <option value="">年</option>
                                        <option value="2016" selected="">2016</option>
                                        <option value="2015">2015</option>
                                        <option value="2014">2014</option>
                                        <option value="2013">2013</option>
                                        <option value="2012">2012</option>
                                        <option value="2011">2011</option>
                                        <option value="2010">2010</option>
                                        <option value="2009">2009</option>
                                        <option value="2008">2008</option>
                                        <option value="2007">2007</option>
                                        <option value="2006">2006</option>
                                        <option value="2005">2005</option>
                                        <option value="2004">2004</option>
                                        <option value="2003">2003</option>
                                        <option value="2002">2002</option>
                                        <option value="2001">2001</option>
                                        <option value="2000">2000</option>
                                        <option value="1999">1999</option>
                                        <option value="1998">1998</option>
                                        <option value="1997">1997</option>
                                        <option value="1996">1996</option>
                                        <option value="1995">1995</option>
                                        <option value="1994">1994</option>
                                        <option value="1993">1993</option>
                                        <option value="1992">1992</option>
                                        <option value="1991">1991</option>
                                        <option value="1990">1990</option>
                                        <option value="1989">1989</option>
                                        <option value="1988">1988</option>
                                        <option value="1987">1987</option>
                                        <option value="1986">1986</option>
                                        <option value="1985">1985</option>
                                        <option value="1984">1984</option>
                                        <option value="1983">1983</option>
                                        <option value="1982">1982</option>
                                        <option value="1981">1981</option>
                                        <option value="1980">1980</option>
                                        <option value="1979">1979</option>
                                        <option value="1978">1978</option>
                                        <option value="1977">1977</option>
                                        <option value="1976">1976</option>
                                        <option value="1975">1975</option>
                                        <option value="1974">1974</option>
                                        <option value="1973">1973</option>
                                        <option value="1972">1972</option>
                                        <option value="1971">1971</option>
                                        <option value="1970">1970</option>
                                        <option value="1969">1969</option>
                                        <option value="1968">1968</option>
                                        <option value="1967">1967</option>
                                        <option value="1966">1966</option>
                                        <option value="1965">1965</option>
                                        <option value="1964">1964</option>
                                        <option value="1963">1963</option>
                                        <option value="1962">1962</option>
                                        <option value="1961">1961</option>
                                        <option value="1960">1960</option>
                                        <option value="1959">1959</option>
                                        <option value="1958">1958</option>
                                        <option value="1957">1957</option>
                                        <option value="1956">1956</option>
                                        <option value="1955">1955</option>
                                        <option value="1954">1954</option>
                                        <option value="1953">1953</option>
                                        <option value="1952">1952</option>
                                        <option value="1951">1951</option>
                                        <option value="1950">1950</option>
                                        <option value="1949">1949</option>
                                        <option value="1948">1948</option>
                                        <option value="1947">1947</option>
                                        <option value="1946">1946</option>
                                        <option value="1945">1945</option>
                                        <option value="1944">1944</option>
                                        <option value="1943">1943</option>
                                        <option value="1942">1942</option>
                                        <option value="1941">1941</option>
                                        <option value="1940">1940</option>
                                        <option value="1939">1939</option>
                                        <option value="1938">1938</option>
                                        <option value="1937">1937</option>
                                        <option value="1936">1936</option>
                                        <option value="1935">1935</option>
                                        <option value="1934">1934</option>
                                        <option value="1933">1933</option>
                                        <option value="1932">1932</option>
                                        <option value="1931">1931</option>
                                        <option value="1930">1930</option>
                                        <option value="1929">1929</option>
                                        <option value="1928">1928</option>
                                        <option value="1927">1927</option>
                                        <option value="1926">1926</option>
                                        <option value="1925">1925</option>
                                        <option value="1924">1924</option>
                                        <option value="1923">1923</option>
                                        <option value="1922">1922</option>
                                        <option value="1921">1921</option>
                                        <option value="1920">1920</option>
                                        <option value="1919">1919</option>
                                        <option value="1918">1918</option>
                                        <option value="1917">1917</option>
                                    </select>&nbsp;&nbsp;
                                    <!--月-->
                                    <select name="birthmonth" id="birthmonth" class="ps" onchange="showbirthday();" tabindex="1">
                                        <option value="">月</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11" selected="">11</option>
                                        <option value="12">12</option>
                                    </select>&nbsp;&nbsp;
                                    <!--日-->
                                    <select name="birthday" id="birthday" class="ps" tabindex="1">
                                        <option value="">日</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17" selected="">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                    </select>
                                    <div class="rq mtn" id="showerror_birthday"></div>
                                    <p class="d"></p>
                                </td>
                                <td class="p"></td>
                            </tr>
                            <!--年月日end-->
                            <!--出生地start-->
                            <tr id="tr_birthcity">
                                <th id="th_birthcity">家庭住址</th>
                                <td id="td_birthcity">
                                    <p id="birthdistrictbox">
                                    <div>
                                        <select id="s_province" name="s_province"></select>
                                        <select id="s_city" name="s_city" ></select>
                                        <select id="s_county" name="s_county"></select>
                                        <script type="text/javascript">_init_area();</script>
                                    </div>

                                    &nbsp;&nbsp;</p>
                                    <div class="rq mtn" id="showerror_birthcity"></div>
                                    <p class="d"></p></td>
                                <td class="p"></td>
                            </tr>
                            <!--出生地end-->
                            <tr id="tr_bloodtype">
                                <th id="th_bloodtype">权限</th>
                                <td class="">
                                    <select name="privacy[bloodtype]">
                                        <option value="0" <if condition="$info.privacy eq 0">selected="selected"</if>>公开</option>
                                        <option value="1" <if condition="$info.privacy eq 1">selected="selected"</if>>好友可见</option>
                                        <option value="2" <if condition="$info.privacy eq 2">selected="selected"</if>>仅自己可见</option>
                                    </select>
                                </td>
                                <td id="td_bloodtype">
                                    <div class="rq mtn" id="showerror_bloodtype"></div>
                                    <p class="d"></p>
                                </td>
                            </tr>
                            <tr>
                                <th>&nbsp;</th>
                                <td colspan="2">
                                    <input type="hidden" name="profilesubmit" value="true">
                                    <button type="submit" name="profilesubmitbtn" id="profilesubmitbtn" value="true" class="pn pnc"><strong>保存</strong></button>
                                    <span id="submit_result" class="rq"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <!--表单内容end-->
                </div>
                <!--个人资料end-->

                <!--学校信息start-->
                <div id="jiaoyu" class="bm bw0" style="display:none">
                    <form action="{{:U('Personaldata/school')}}" method="post">
                        <input type="hidden" value="{{$school.id}}" name="id" id="school_id">
                        <div id="t">
                            <table cellspacing="0" cellpadding="0" class="tfm" id="profilelist">
                                <tbody>
                                <tr id="tr_gender">
                                    <th id="th_gender">初中</th>
                                    <td id="td_gender">
                                        <select name="middle_school" id="gender1" class="ps" tabindex="1">
                                            <option value="">请选择学校</option>
                                            <option value="上海市第一初中" <if condition="$school.middle_school eq '上海市第一初中'">selected="selected"</if>>上海市第一初中</option>
                                            <option value="上海市第二初中" <if condition="$school.middle_school eq '上海市第二初中'">selected="selected"</if>>上海市第二初中</option>
                                            <option value="上海市第三初中" <if condition="$school.middle_school eq '上海市第三初中'">selected="selected"</if>>上海市第三初中</option>
                                            <option value="上海市第四初中" <if condition="$school.middle_school eq '上海市第四初中'">selected="selected"</if>>上海市第四初中</option>
                                        </select>
                                        <select name="middle_start" id="gender2" class="ps" tabindex="1">
                                            <option value="">请选择入学年份</option>
                                            <option value="2010" <if condition="$school.middle_start eq '2010'">selected="selected"</if>>2010</option>
                                            <option value="2009" <if condition="$school.middle_start eq '2009'">selected="selected"</if>>2009</option>
                                            <option value="2008" <if condition="$school.middle_start eq '2008'">selected="selected"</if>>2008</option>
                                            <option value="2007" <if condition="$school.middle_start eq '2007'">selected="selected"</if>>2007</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr id="tr_gender">
                                    <th id="th_gender">高中</th>
                                    <td id="td_gender">
                                        <select name="high_school" id="gender3" class="ps" tabindex="1">
                                            <option value="">请选择学校</option>
                                            <option value="上海市第一高中" <if condition="$school.high_school eq '上海市第一高中'">selected="selected"</if>>上海市第一高中</option>
                                            <option value="上海市第二高中" <if condition="$school.high_school eq '上海市第二高中'">selected="selected"</if>>上海市第二高中</option>
                                            <option value="上海市第三高中" <if condition="$school.high_school eq '上海市第三高中'">selected="selected"</if>>上海市第三高中</option>
                                            <option value="上海市第四高中" <if condition="$school.high_school eq '上海市第四高中'">selected="selected"</if>>上海市第四高中</option>
                                        </select>
                                        <select name="high_start" id="gender4" class="ps" tabindex="1">
                                            <option value="">请选择入学年份</option>
                                            <option value="2013" <if condition="$school.high_start eq '2013'">selected="selected"</if>>2013</option>
                                            <option value="2012" <if condition="$school.high_start eq '2012'">selected="selected"</if>>2012</option>
                                            <option value="2011" <if condition="$school.high_start eq '2011'">selected="selected"</if>>2011</option>
                                            <option value="2010" <if condition="$school.high_start eq '2010'">selected="selected"</if>>2010</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr id="tr_gender">
                                    <th id="th_gender">大学</th>
                                    <td id="td_gender">
                                        <select name="college" id="gender5" class="ps" tabindex="1">
                                            <option value="">请选择学校</option>
                                            <option value="常熟理工学院" <if condition="$school.college eq '常熟理工学院'">selected="selected"</if>>常熟理工学院</option>
                                            <option value="北京大学" <if condition="$school.college eq '北京大学'">selected="selected"</if>>北京大学</option>
                                            <option value="清华大学" <if condition="$school.college eq '清华大学'">selected="selected"</if>>清华大学</option>
                                            <option value="复旦大学" <if condition="$school.college eq '复旦大学'">selected="selected"</if>>复旦大学</option>
                                        </select>
                                        <select name="college_start" id="gender6" class="ps" tabindex="1">
                                            <option value="">请选择入学年份</option>
                                            <option value="2016" <if condition="$school.college_start eq '2016'">selected="selected"</if>>2016</option>
                                            <option value="2015" <if condition="$school.college_start eq '2015'">selected="selected"</if>>2015</option>
                                            <option value="2014" <if condition="$school.college_start eq '2014'">selected="selected"</if>>2014</option>
                                            <option value="2013" <if condition="$school.college_start eq '2013'">selected="selected"</if>>2013</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>&nbsp;</th>
                                    <td colspan="2">
                                        <button type="submit" id="" class="pn pnc"><strong>保存</strong></button>
                                        <span id="submit_result" class="rq"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <if condition="$success eq 1">
                                <script>layer.msg('保存成功')</script>
                            <elseif condition="$success eq 2" />
                                <script>layer.msg('添加成功')</script>
                            </if>
                        </div>
                    </form>
                </div>
                <!--学校信息end-->

            </div>
            <div class="appl"><!-- home/spacecp_footer --></div>
        </div>
        <!--底部start-->
        <div class="ft-wrapper clearfix">
            <p>
                <strong>玩转脸盆网</strong>
                <a href="http://www.facebowl.cn/#" target="_blank">脸盆网介绍</a>
                <a href="http://www.facebowl.cn/#" target="_blank">客服帮助</a>
            </p>
            <p>
                <strong>商务合作</strong>
                <a href="http://www.facebowl.cn/#" target="_blank">广告合作</a>
                <a href="http://www.facebowl.cn/#" target="_blank">投资脸盆网</a>
            </p>
            <p>
                <strong>公司信息</strong>
                <a href="http://www.facebowl.cn/#" target="_blank">关于我们</a>
                <a href="http://www.facebowl.cn/#" target="_blank">联系我们</a>
                <a href="http://www.facebowl.cn/#" target="_blank">招聘</a>
            </p>
            <p>
                <strong>友情链接</strong>
                <a href="http://www.facebowl.cn/#" target="_blank">等待添加</a>
                <a href="http://www.facebowl.cn/#" target="_blank">等待添加</a>
                <a href="http://www.facebowl.cn/#" target="_blank">等待添加</a>
                <a href="http://www.facebowl.cn/#" target="_blank">等待添加</a>
            </p>
            <p>
                <strong>脸盆移动客户端下载</strong>
                <a href="http://www.facebowl.cn/plugin.php?id=appbyme_app:download" target="_blank">iPhone/Android</a>
                <a href="http://www.facebowl.cn/#" target="_blank">其他脸盆产品</a>
            </p>
            <p class="copyright-info" style="margi-left: -20px">
                <span>公司全称：遵义盆友网络发展有限公司</span>
                <span>公司电话：0851-27900600</span>
                <span>公司地址：贵州省遵义市万里路星力城<br>
万里湘江小区C6栋1-14-4号</span>
                <span><a href="#" target="_blank">黔ICP备14001641号-1</a></span>
                <span>脸盆网©2016</span>
            </p>
        </div>
        <!--底部end-->
    </div>
    <div id="ft" class="wp cl"></div>
    <script src="" type="text/javascript"></script>
    <div class="focus plugin" id="ip_notice"></div>
    <script type="text/javascript">ipNotice();</script>
    <script type="text/javascript">_attachEvent(window, 'scroll', function () {
        showTopLink();
    });
    checkBlind();</script>
    <!--<div id="discuz_tips" style="display:none;"></div>-->
    <script src="__PUBLIC__/home/js/discuz_tips.js" type="text/javascript" charset="UTF-8"></script>
</div>
</body>
</html>